{
  "rules": {
    "indent": [
      2,
      4
    ],
    "strict": [
      1,
      "global"
    ],
    "no-extra-parens": 0,
    "no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "after-used"
      }
    ],
    "react/display-name": "off",
    "react/no-find-dom-node": "warn"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "defaults/configurations/google",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "Promise": true
  },
  "plugins": [
    "react"
  ]
}